
.traffic-light-container {
  background: black;
  width: 140px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}


.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #333; 
  transition: all 0.3s ease;
}


.light.red.glow {
  background-color: red;
  box-shadow: 0px 0px 40px 10px red;
}

.light.yellow.glow {
  background-color: yellow;
  box-shadow: 0px 0px 40px 10px yellow;
}

.light.green.glow {
  background-color: green;
  box-shadow: 0px 0px 40px 10px green;
}

